.btn {
    text-decoration: none;
    padding: 10px 20px;
    margin: 18px;
    border: solid 1px;
    border-radius: 5px;
    border-color:whitesmoke;
}

.btn-round {
    background-color:rgb(38 , 190 ,150) ;
    border-radius: 100%;
    padding: 5px 10px;
    color: whitesmoke;
}
.btn-primary{
    background-color:rgb(38 , 190 ,150) ;
    border-radius: 7px;
    color: whitesmoke;
}
.btn-secondary{
    background-color: rgb(229 ,235 , 237);
    border-radius: 7px;
    color: rgb(125 , 157 , 167);
}
.btn-destructive{
    background-color: rgb(238, 131, 99);
    border-radius: 7px;
    color: whitesmoke
    ;
}